@import "../node_modules/tailwindcss/dist/lib.d.mts";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply h-full;
  }
  
  body {
    @apply h-full bg-gray-50 text-gray-900 antialiased;
  }
}
