#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.app {
	width: 100%;
	height: 100%;
}

.logo {
	width: 20%;
	align-self: center;
}

.container {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 3rem;
	width: 100%;
	padding: 1rem;
	height: -webkit-fill-available;
	flex-grow: 1;
	justify-content: center;
}

.grid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 1rem;
}
.grid.docs {
	grid-template-columns: repeat(1, 1fr);
}

.card {
	width: 100%;
	padding: 1.5em;
	border-radius: 1rem;
	background: var(--card);
	color: var(--card-foreground);
	box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.09);
}

.card.secondary {
	background: transparent;
	border: 1px solid var(--border);
	box-shadow: none;
}
.card.intro {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: space-between;
	align-items: flex-start;
}
.card-header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 0.25rem;
}
.card-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 1.5rem 0;
}

.card-footer {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
}

.card__title {
	font-size: 1.15rem;
	font-weight: 600;
}
.content-background {
	overflow: hidden;
	background: #fafaf9;
	border-radius: 4rem;
	padding: 0 1rem;
	height: 3.5rem;
	display: flex;
	align-items: center;
}

.wallet-address {
	text-wrap: anywhere;
	line-break: anywhere;
}

.space-between {
	justify-content: space-between;
	gap: 1rem;
}

.hide-on-mobile {
	display: none;
}

.hide-on-desktop {
	display: block;
}

.external-link {
	display: inline-flex;
	gap: 0.25rem;
}

.get-started {
	text-align: center;
}

.wallet-connect {
	display: flex;
	gap: 1rem;
	align-items: center;
}

@media (min-width: 768px) {
	.card.intro {
		grid-column: span 2;
		flex-direction: row;
		align-items: center;
	}
	.hide-on-mobile {
		display: block;
	}
	.hide-on-desktop {
		display: none;
	}

	.container {
		max-width: 96rem;
		padding: 2rem;
	}
	.grid {
		grid-template-columns: repeat(2, 1fr);
	}
	.grid.docs {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 1024px) {
	.container {
		max-width: 80rem;
	}
}
