
#root {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  overflow-x: hidden;
  height: 100vh;
}

div {
  box-sizing: border-box;
}

.app-logo {
  width: 8rem;
  height: 8rem;
}

.app-container {
  height: 100%;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  max-width: 100%;
}