.walletConnectButton {
    padding: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
    font-size: 16px;
    color: white;
    background-color: #7e1914;
    border-color: black;
}