name: Checks

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Fetch the full history instead of a shallow clone

      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'

      - name: Enable Corepack
        run: corepack enable

      - name: Yarn Install
        run: yarn

      - name: Build All Packages
        run: yarn build:all

      - name: Test
        run: yarn test:all
