name: Checks

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Fetch the full history instead of a shallow clone

      - uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install system dependencies
        run: sudo apt-get update && sudo apt-get install -y rsync

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build All Packages
        run: pnpm build:all

      - name: Test
        run: pnpm test:all
